<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Cadastrar Curso</h1>

  <form action="/curso/create" method="POST">
    <input type="text" placeholder="Informe o nome do curso" name="nome_curso" value="" required>
    <input type="text" placeholder="Informe a descrição do curso" name="descricao_curso" value=""  required>
    <button type="submit">Cadastrar Curso</button>
  </form>
  <a href="/">Home</a>

</body>
</html>