<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Cadastrar Aluno</h1>

  <form action="/aluno/create" method="POST">
    <input type="text" placeholder="Informe o nome do aluno" name="nome" value="" required>
    <input type="email" placeholder="Informe seu email" name="mail" value="" required>
    <button type="submit">Criar Aluno</button>
  </form>
  <a href="/">Home</a>

</body>
</html>